<div  ng-controller="converterController">
    <div class="heading-page">
       Select two currencies
       <div class="back-btn">
          <div class="icon-back"><i class="fas fa-chevron-left"></i></div>
       </div>
    </div>
    <div class="new-recipe-section">
       <form class="form" name="userForm" id="setting">
          <div class="fb-text">Select two currency example Bitcoin to</div>
          <div class="stt-form">
             <div class="form-group">
                <div class="col-xs-12">
                   <label for="title">From</label>
                   <select class="custom-select" id="gender2" ng-options="curr.name for curr in currencies" ng-model="Currobject.selectedFromCurr" required>
                    <!-- <option selected>Choose...</option>
                    <option ng-repeat = "curr in currencies" value="{{curr}}" ng-selected="Currobject.selectedFromCurr.coinId == curr.coinId">{{curr.name}}</option> -->
                </select> 
                </div>
             </div>
             <div class="form-group">
                <div class="col-xs-12">
                   <label for="detail">Amount</label>
                   <input type="number" id="ingredients" name="ingredients" class="form-control" ng-model="Currobject.fromCurrency">
                </div>
             </div>
             <div class="form-group">
                <div class="col-xs-12">
                    <label for="title">To</label>
                    <select class="custom-select" id="gender2" ng-options="curr.name for curr in currencies" ng-model="Currobject.selectedToCurr">
                   </select> 
                 </div>
             </div>
             <div class="form-group">
                <div class="col-xs-12">
                   <label for="detail">Converted</label>
                   <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">{{Currobject.selectedToCurr.symbol | uppercase}}</span>
                        </div>
                        <input id="directions" name="directions" class="form-control"  ng-model="Currobject.toCurrency" readonly>
                   </div>
                </div>
             </div>
          </div>
          <div class="submit-btn">
            <div class="col-xs-12">
              <button class="theme-button" ng-click="convert()" ng-disabled="userForm.$invalid">Check</button>
            </div>
          </div>
       </form>
    </div>
 </div>