<div ng-controller="cryptoPricessController">
    <div class="list-section favorites"  on-scroll-to-bottom="loadMore()">
       <div class="wrap-list-rc">
          <div class="row m-0">
            <div class="lrc-item col-md-6 col-sm-12 col-xs-3" ng-repeat="price in getCurrencies() | limitTo:totalDisplayed  track by $index">
               <a href >
                  <div class="lrc-content">
                     <div class="lrc-img">
                        <img src="{{price.image}}" alt="item" style="width: 70%;">
                     </div>
                     <div class="lrc-desc"  data-toggle="modal" data-target="#marketGraphModal" data-ng-click="loadWidget(price);">
                        <div class="lrc-title">{{price.market_cap_rank + ' - ' + price.name + ' ' + price.symbol}}</div>
                        <div class="lrc-text">
                          {{price.current_price | number:2}} {{Currency.name | uppercase}}  <span class="lhc like" ng-style="{color:price.market_cap_change_percentage_24h > 0  ? 'green':'red'}" ><i class="fas"  ng-style="{color:price.market_cap_change_percentage_24h > 0  ? 'green':'red'}" ng-class="{'fa-arrow-up':price.market_cap_change_percentage_24h > 0,'fa-arrow-down':price.market_cap_change_percentage_24h < 0}"></i> {{price.market_cap_change_percentage_24h | number:2}}%</span>
                        </div>
                        <div class="lrc-button">
                          <div class="lrcb-left">
                            <span class="lhc hours"><i class="fas fa-clock"></i> {{price.last_updated}}</span>
                          </div>
                          <div class="lrcb-right">
                            
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>
                      <div class="add-favourite">
                         <div class="awl-btn highlight" ng-click="addToFav(price.id)">
                            <div class="awl-btn-icon" ng-style="{color: price.isFav ? 'red':'grey'}">
                               <i class="fas fa-heart"></i>
                            </div>
                         </div>
                      </div>
                    </div>
               </a>
          </div>

          </div>
       </div>
    </div>




    <div class="modal fade modal-lg markert-dialog" id="marketGraphModal" tabindex="-1" role="dialog" aria-labelledby="coinSelectModalLabel" aria-hidden="true">
      <div class="modal-dialog market-modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <div class="col-md-12">
                      <div class="card ">
                          <!-- <div class="card-header ">
                              <h4 class="card-title">{{symbolSelected}}</h4>
                              <p class="card-category">{{'text.priceChart' | i18n}}</p>
                          </div> -->
                          <div class="card-body" style="padding: 0px 0px 0px 0px;">
                              <div id="technical-analysis" style="width:250;height: 500px"></div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="modal-footer"></div>
          </div>
      </div>
  </div>

  
 </div>