<div class="food-page-section">
    <div class="wrap-food-recipe">
       <div class="heading-page">
          Settings
          <div class="back-btn">
             <div class="icon-back"><i class="fas fa-cog"></i></div>
          </div>
       </div>
       <div class="section-single-page">
          <div class="row">
             <div class="col-6">
                <button type="button" style="width:100%" class="btn btn-success" data-ng-click="">Crypto Prices</button>
             </div>
             <div class="col-6">
                <button type="button" style="width:100%" class="btn btn-success" data-ng-click="openPage('converter')">Converter</button>
             </div>
          </div>
          <div class="row pt-5">
             <div class="col-12">
                <h6>Select Currency</h6>
                <div class="input-group">
                    <select class="custom-select">
                      <option selected>Choose...</option>
                      <option value="1">USD</option>
                      <option value="2">Euro</option>
                      <option value="3">Pound</option>
                    </select>
                  </div>
             </div>
          </div>
       </div>
    </div>
 </div>